.headline {
  font-family: Open Sans;
  font-style: normal;
  font-size: 33px;
  font-weight: bold;
  line-height: normal;
  color: #FFFFFF;
}

.headline_2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  width: 70%;
  color: #FFFFFF;
}

.title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  color: #1A1B1B;
  border-bottom: 1px solid #444E99;
  margin-top: 30px;
  margin-bottom: 10px;
}

.title_2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #3C3D3E;
  margin-top: 20px;
  margin-bottom: 8px;
}

.titleTab {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  color: #3C3D3E;
}

.titleWhite_2 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 8px;
}

.titleGreen {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: normal;
  text-align: center;
  color: #0ACF83;
}

.blueTitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #444E99;
}

.body {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #626666;
}

.bodyWhite {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 23px;
  color: #d7dadc;
}

.postHeadline {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}

.tablinks {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}

.postDate {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: normal;
  text-align: center;
  color: #000000;
  margin: 5px 0;
}

.footerTitle {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  color: #FFFFFF;
  border-bottom: 1px solid #BEC2C3;
  width: 140px;
}

.footerWhite {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #d7dadc;
}
